*{
  font-family: Noto Sans, "sans-serif";
}

.screen-background {
  position: relative;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #680231af, #5b0027f1);
  pointer-events: none;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
}

h1, h2, h3, h4, h5{
  color: var(--chakra-colors-common-50);
}

p{
  color: var(--chakra-colors-common-100);
}
